<%- include ('partials/heder.ejs'); %>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Karla&family=Montserrat:wght@200&family=Nanum+Gothic&display=swap');

    /* Styles for the navbar */
    html {
      scroll-behavior: smooth;
      font-family: Karla;
    }
    body{
      box-sizing: border-box;
      overflow-x: hidden;
    }

    .txt-dark {
      color: antiquewhite;
    }

    .dark-theme {
      background-color: #05000cfa;
      color: whitesmoke;
    }

    .drop {
      position: relative;
      z-index: 1500;
    }

    #dropdownMenuButton {
      box-shadow: 0px 10px 50px -5px rgba(0, 0, 0, 1);
      background-color: #05000cfa;
      color: whitesmoke;
    }

    body {
      font-family: Karla;
    }

    nav {
      background-color: #000000;
      padding-left: 4rem;
      height: 5rem;
      position: -webkit-sticky;
      position: sticky;
    }
    .govt{
  display: flex;
  justify-items: center;
  align-items: center;
  padding: 0 21rem;
  display: absolute;
  height: 2rem;
  margin-top: 17rem;
}
.official{
  text-align: center;
  background: linear-gradient(rgba(2, 1, 33, 1), rgba(2, 1, 33, 0.99));
  margin-top: 2rem;
  width: 100%;  
  z-index: 1500;
  height: 16rem;
  padding-top: 2rem;
  color: white;
}

#contact {
    margin-top: 2rem;
    padding-top: 5rem;
    width: 100%;
    background: linear-gradient(rgb(2, 1, 33), rgb(56, 2, 36));
}
    .nav_link {
      font-weight: bold;
      font-size: 1.5rem;
      text-align: center;
      color: #fff;
      padding: 10px;
      margin-left: 10rem;
      transition: all 0.6s ease-in-out;

    }

    .nav_link {
      text-decoration: none;
    }

    .nav_link:hover {
      color: black;
      background-color: #fff;
      text-decoration: none;
      border-radius: 20px;
    }

    .d-block {
      height: 600px;
    }
   
    .about {
      margin-top: 2rem;
      padding: 1.5rem 5rem;
    }
  </style>
  </head>

  <body>
    
    <!-- Mobile navbar
      <div class="mobile-nav">
        <a class="nav_link" href="#">Home</a>
        <a class="nav_link" href="#">About Us</a>
        <a class="nav_link" href="#">Services</a>
        <a class="nav_link" href="#">Contact Us</a>
      </div> -->

    <section class="about" id="abot">
      <h1 style="font-size: 3.3rem; font-weight: 500;">ABOUT US</h1><br><br>
      <span div="span-line"></span>
      <p style="font-size: 1.3rem;">The Indian Census is a decennial
        exercise conducted by the Office of the Registrar General
        and Census Commissioner of India, with the aim of collecting
        and analyzing data on the country's population and its various
        characteristics. The first census in India was conducted in 1872,
        and since then, it has been conducted every 10 years. The census is
        an important tool for policy-making, planning, and resource allocation,
        and the data collected is used by government agencies, researchers, and
        businesses for a variety of purposes. The most recent census in India
        was conducted in 2011, and the next one is scheduled for 2021.<br>
        The Indian Census is a massive undertaking that occurs every ten years, with the aim of providing an accurate
        and comprehensive picture of India's population, its diversity, and socio-economic characteristics. The census
        is conducted by the Office of the Registrar General and Census Commissioner of India, under the Ministry of Home
        Affairs, and involves the collection of data from every household and individual in the country.
        <br>The census is conducted using a house-to-house enumeration method, with trained census officials visiting
        each household to gather information on a range of parameters such as age, gender, education, employment,
        marital status, housing, and household amenities. The census officials use specially designed forms to record
        the data, which is then compiled and analyzed to produce a comprehensive report on the demographic, social, and
        economic characteristics of the population.<br>
        The census is a critical tool for policymakers, planners, and researchers, providing them with detailed
        information on the country's population and their characteristics. The data collected is used for a range of
        purposes such as planning and allocation of resources, policy formulation, research, and analysis. The census
        data also plays a critical role in the allocation of seats in the Parliament and state legislative assemblies,
        as well as in the distribution of central government funds to the states.<br>
        In conclusion, the Indian Census is a critical exercise that plays a vital role in shaping the country's
        policies and development. The census provides valuable insights into the country's population and their
        characteristics, and helps policymakers and planners make informed decisions based on accurate and reliable
        data.<br>
      </p>
    </section>
    <section class="history">
      <div class="container" style="margin-top: 40px;">
        <div class="row featurette d-flex justify-content-center align-items-center">
          <div data-aos="fade-up" data-aos-delay="200" class="col-md-7 order-md-1">
            <h5 class="featurette-heading fw-normal lh-1">First Census in 1872
              <span class="text-muted">The first census of India was conducted in 1872, during the British colonial era.
                The census aimed to gather data on the population of the country, its distribution, and its
                composition.</span>
            </h5>
          </div>
          <div data-aos="fade-up" data-aos-delay="100" class="col-md-5">
            <img src="/images/firstcensus.jpeg"
              class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
              height="500" style="box-shadow: 0px 20px 50px -10px rgba(0, 0, 0, 0.7);" />
          </div>
        </div>
        <div class="row featurette d-flex justify-content-center align-items-center my-5">
          <div data-aos="fade-up" data-aos-delay="400" class="col-md-7">
            <h5 class="featurette-heading fw-normal lh-1">Birth of the Census of India Act in 1948
              <span class="text-muted">The Census of India Act was passed in 1948, laying down the legal framework for
                the conduct of the census. The act provides for the appointment of a Registrar General and Census
                Commissioner, and outlines the procedures for conducting the census.</span>
            </h5>
          </div>
          <div data-aos="fade-up" data-aos-delay="300" class="col-md-5">
            <img src="./images/1948census.jpg"
              class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
              height="500" style="box-shadow: 0px 20px 50px -10px rgba(0, 0, 0, 0.7);" />
          </div>
        </div>
        <div class="row featurette d-flex justify-content-center align-items-center my-5">
          <div data-aos="fade-up" data-aos-delay="600" class="col-md-7 order-md-1">
            <h5 class="featurette-heading fw-normal lh-1">First Post-Independence Census in 1951
              <span class="text-muted">The first census of India after Independence was conducted in 1951. The census
                was a massive exercise, with over 600,000 enumerators collecting data from every corner of the
                country.</span>
            </h5>
          </div>
          <div data-aos="fade-up" data-aos-delay="500" class="col-md-5">
            <img src="/images/firstpost.jpeg"
              class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
              height="500" style="box-shadow: 0px 20px 50px -10px rgba(0, 0, 0, 0.7);" />
          </div>
        </div>
        <div class="row featurette d-flex justify-content-center align-items-center my-5">
          <div data-aos="fade-up" data-aos-delay="400" class="col-md-7">
            <h5 class="featurette-heading fw-normal lh-1">Introduction of Computerization in 1971
              <span class="text-muted">The 1971 census saw the introduction of computerization in the data processing
                phase. The use of computers helped speed up the processing of data and improve the accuracy of the
                census.</span>
            </h5>
          </div>
          <div data-aos="fade-up" data-aos-delay="300" class="col-md-5">
            <img src="/images/computer.jpg"
              class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
              height="500" style="box-shadow: 0px 20px 50px -10px rgba(0, 0, 0, 0.7);" />
          </div>
        </div>
        <div class="row featurette d-flex justify-content-center align-items-center my-5">
          <div data-aos="fade-up" data-aos-delay="400" class="col-md-7 order-md-1">
            <h5 class="featurette-heading fw-normal lh-1">Adoption of Biometric Technology in 2011
              <span class="text-muted">The 2011 census saw the adoption of biometric technology, with the collection of
                fingerprints and photographs of the population. This helped improve the accuracy of the census and
                reduce the scope for duplication and errors.</span>
            </h5>
          </div>
          <div data-aos="fade-up" data-aos-delay="300" class="col-md-5">
            <img src="/images/biometric.jpg"
              class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
              height="500" style="box-shadow: 0px 20px 50px -10px rgba(0, 0, 0, 0.7);" />
          </div>
        </div>
        <div class="row featurette d-flex justify-content-center align-items-center my-5">
          <div data-aos="fade-up" data-aos-delay="600" class="col-md-7">
            <h5 class="featurette-heading fw-normal lh-1">Delay of 2021 Census due to COVID-19
              <span class="text-muted">The 2021 census was scheduled to be conducted in February 2021 but was postponed
                due to the COVID-19 pandemic. The census is now expected to be conducted in 2022-23.</span>
            </h5>
          </div>
          <div data-aos="fade-up" data-aos-delay="500" class="col-md-5">
            <img src="/images/delaycensus.jpg"
              class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
              height="500" style="box-shadow: 0px 20px 50px -10px rgba(0, 0, 0, 0.7);" />
          </div>
        </div>
      </div>
    </section>

    
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"
    integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js"
    integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ"
    crossorigin="anonymous"></script>
  <script>
    function themeChange() {
      var i = document.body;
      var text = document.querySelector("#dropdownMenuButton")
      var txt = document.querySelector(".fa-solid")
      i.classList.add("dark-theme");
      text.innerHTML = `
        <i class="fa-solid fa-moon txt-dark"></i>
        `
      txt.classList.add("txt-dark");
    }
    function themeChangeback() {
      var i = document.body;
      var text = document.querySelector("#dropdownMenuButton")
      var txt = document.querySelector(".fa-solid")
      i.classList.remove("dark-theme");
      text.innerHTML = `
        <i class="fa-solid fa-sun" ></i>
        `
    }
  </script>

  </html>