* {
  box-sizing: border-box;
}
body {
  background-color: #1b1e20;
  color: #ffffffd8;
}
/* Full-width input fields */
input[type="text"],
input[type="password"],
input[type="email"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #121212c3;
}
.imglogin {
  width: 20rem;
  height: 20rem;
  border-radius: 30px;
  margin-left: 10%;
}

/* Add padding to container elements */
.container {
  padding: 2rem 5rem;
  margin: 2rem 4rem;
}
